#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.1rem;
  text-align: center;
}

#home {
  background-image: url("/src//assets/images/nathan-dumlao-vbt-Fp3b5FA-unsplash-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-attachment: fixed;
}
#counter {
  background-image: url("/src/assets/images/sanremo_coffee_machines_1600x.webp");
  background-size: cover;
}
#menu {
  background-image: url("/src/assets/images/coffee1.webp");
  background-size: cover;
  border-radius: 15px;
}
